<template>
  <div>
    <h1 class="title">World Weather</h1>
    <p class="text"> Watch weather in your current location</p>
    <div class="current">
      <Card :remove="false" :data="currentCity" v-if="currentCity"/>
    </div>
    <div class="cards" v-if="cities.length > 0">
      <div class="cards__list">
        <div class="cards__item" v-for="(city, i) in cities" :key="i">
          <Card :data="city"/>
        </div>
      </div>
    </div>
    <modal v-if="show">
      <template slot="title">Choose a city</template>
      <template slot="description">
        To find city start typing and pick one from the suggestions
      </template>
      <app-from 
        @cancel="show = false" 
        @add="show = false">
      </app-from>
    </modal>
    <button class="add" @click="show = true">+</button>
  </div>
</template>

<script>
// @ is an alias to /src
// import Item from '@/components/Item.vue'

export default {
  components: {
    Card: () => import("@/components/Card.vue"),
    Modal: () => import("@/components/Modal.vue"),
    AppFrom: () => import("@/components/AppFrom.vue")
  },
  data () {
    return {
      show: false,
    }
  },
  computed: {
    cities() {
      return this.$store.getters['cities']
    },
    currentCity() {
      return this.$store.getters['currentCity']
    }
  },
  async mounted () {
    await this.$store.dispatch('loadCities')
    await this.$store.dispatch('loadCurrentCity')
  }
}
</script>
<style lang="sass" scoped>
.title
  text-align: center
  font-weight: 300
  font-size: 70px
  line-height: 80px
  margin-bottom: 32px
  color: #1B1B1B

.text
  text-align: center
  font-size: 24px
  line-height: 24px
  color: #767676
  margin-bottom: 20px

.cards
  padding: 0 20px
  margin: 0 auto 34px
  max-width: 1560px
  .card
    margin: 0
  &__list
    margin: 0 -20px 
    display: flex
    flex-wrap: wrap
  &__item
    width: calc(25% - 40px)
    margin: 0 20px 20px
    @media (max-width: 1200px) 
      width: calc(50% - 40px)
    @media (max-width: 767px) 
      width: calc(100% - 40px)
.current
  max-width: 864px
  padding: 0 20px
  margin: 20px auto 80px 
.add
  background: #9B51E0
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2)
  border-radius: 50px
  width: 56px
  height: 56px
  position: fixed
  bottom: 34px
  right: 45px
  border: none
  color: #fff
  font-size: 30px
  cursor: pointer
</style>
