<template>
  <form @submit.prevent="getItem()" class="form">
    <input 
      class="form__input" 
      :class="{ 'error': $v.city.$error }"
      type="text" 
      placeholder="Search city"
      v-model="$v.city.$model"
    >
    <span class="form__error">
      <template v-if="$v.city.$error">
        City must have at least 3 letters.
      </template>
      <template v-else-if="empty">
        City not found
      </template>
    </span>
    <div class="form__btns">
      <a 
        class="button" 
        @click.prevent="clear()" 
        :disabled="!city">
          CLEAR
      </a>
      <a 
        class="button" 
        @click.prevent="$emit('cancel')">
        CANCEL
      </a>
      <button type="submit" 
        class="button"
        :disabled="!city">
        ADD
      </button>
    </div>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'
// import { useVuelidate } from '@vuelidate/core'
export default {
  mixins: [validationMixin],
  data () {
    return {
      city: '',
      empty: false
    }
  },
  validations () {
    return {
      city: { 
        required,
        minLength: minLength(3)
     },
    }
  },
  methods: {
    clear(){
      this.city = ''
      this.empty = false
      this.$v.city.$reset();
    },
    async getItem(){
      if (this.$v.city.$invalid) {
        this.$v.city.$touch();
        return;
      }
      let cod = await this.$store.dispatch('loadCityByName', this.city)
      if (cod == 200) {
        this.$emit('add')
        return;
      }
      this.empty = true
    }
  }
}
</script>

<style lang="sass" scoped>
.form
  &__input
    width: 100%
    border: none
    border-bottom: 1px solid #1B1B1B
    font-size: 24px
    height: 40px
    &:focus
      outline: none
    &.error
      border-color: #f00
      color: #f00
      &::placehoder
        color: #f00
  &__error
    font-size: 12px
    color: #f00
    min-height: 15px
    display: block
  &__btns
    display: flex
    justify-content: space-between
    margin-top: 125px
    .button
      margin-left: 31px
      &:first-child
        margin-left: 0
        margin-right: auto
</style>