<template>
  <div class="card">
    <h3 class="card__title">{{data.name}}</h3>
    <span class="card__locale">
      <template v-if="!remove">Your current location</template> 
      <template v-else>{{data.sys.country}}</template> 
    </span>
    <div class="card__item">
      <span>Weather </span>
      <span>{{data.weather[0].main}}</span>
    </div>
    <div class="card__item">
      <span>Temperature</span>
      <span>{{data.main.temp}} °F</span>
    </div>
    <div class="card__item">
      <span>Humidity</span>
      <span>{{data.main.humidity}}</span>
    </div>
    <span class="card__date">
      {{ ago }}
    </span>
    <div class="card__item extend" v-if="remove">
      <button class="button" @click="romoveCity(data.id)">REMOVE</button>
      <button class="card__btn button" 
        @click="updateCity(data.name)" 
        :disabled="reloading">
        RELOAD
      </button>
    </div>
    <button class="card__btn button" 
      v-else 
      :disabled="reloading"
      @click="updateCurrent()">
      RELOAD
    </button>
  </div>
</template>

<script>
export default {
  props: {
    remove: {
      default: true
    },
    data: {
      require: true
    }
  },
  data () {
    return {
      reloading: false,
      ago: '',
      interval: null
    }
  },
  methods: {
    romoveCity(id){
      this.$store.commit('ROMOVE_CITY', id)
    },
    async updateCity(name) {
      this.reloading = true
      await this.$store.dispatch('updateCityByName', name)
      this.reloading = false
    },
    async updateCurrent() {
      this.reloading = true
      await this.$store.dispatch('loadCurrentCity')
      this.reloading = false 
    },
    updateTime() {
      this.ago = this.$moment(this.data.dt * 1000).fromNow();
      
    }
  },
  mounted () {
    this.updateTime()
    this.interval = setInterval(() => {
      this.updateTime()
    }, 60000)
  },
  destroyed(){
    clearInterval(this.interval)
  }
}
</script>
<style lang="sass" scoped>
.card
  background: #FFFFFF
  box-shadow: 0px 2px 10px rgba(10, 10, 10, 0.25)
  border-radius: 6px
  padding: 24px
  display: flex
  flex-direction: column
  font-size: 18px
  line-height: 24px
  color: #1B1B1B
  
  &__title
    font-weight: bold
    font-size: 32px
    line-height: 38px
    margin-bottom: 15px
  &__locale
    margin-bottom: 40px
  &__item
    border-bottom: 1px solid #C4C4C4
    display: flex
    justify-content: space-between
    margin-bottom: 16px
    padding-bottom: 12px
    &.extend
      margin-bottom: 0
      padding-bottom: 0
      border-bottom: 0
  &__date
    display: block
    text-align: right
    font-size: 16px
    line-height: 24px
    color: #A8A8A8
    margin-bottom: 32px
  &__btn
    margin-left: auto
  
</style>

