<template>
  <div class="modal">
    <div class="window">
      <h2 class="modal__title"><slot name='title'></slot></h2>
      <p class="modal__text"><slot name='description'></slot></p>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      require: true
    }
  },
  data () {
    return {
      html: document.querySelector('html')
    }
  },
  mounted () {
    this.html.style.overflow = 'hidden'
    this.html.style.position = 'absolute'
    this.html.style.width = '100%'
    this.html.style.hight = '100%'
  },
  destroyed() {
    this.html.style.overflow = 'auto'
    this.html.style.position = 'static'
    this.html.style.width = 'auto'
    this.html.style.hight = 'auto'
  }
}
</script>

<style lang="sass" scoped>
.modal
  position: fixed
  width: 100%
  height: 100%
  background: rgba(11, 11, 11, 0.5)
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  z-index: 10
  &__title
    font-size: 32px
    line-height: 38px
    margin-bottom: 16px
  &__text
    font-size: 24px
    line-height: 24px
    color: #767676
    margin-bottom: 67px
.window
  background: #FFFFFF
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  padding: 24px
  max-width: 750px
</style>