<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap')
*
  box-sizing: border-box
  padding: 0
  margin: 0
body
  font-family: 'Lato', sans-serif
#nav
  padding: 15px
.button
    padding: 0
    margin: 0
    background: none
    border: none
    align-self: flex-end
    font-weight: bold
    font-size: 16px
    line-height: 24px
    color: #9B51E0
    text-transform: uppercase
    cursor: pointer
    &[disabled="disabled"]
      color: #C1C1C1
</style>
